@media (max-width: 600px) {
    thead {
        font-size: 12px !important;
    }

    table {
        width: 80% !important;
    }

    tbody {
        font-size: 11px !important;
    }
}

table , td , th{
	border-collapse: collapse;
	padding: 8px;
	text-align: center;
}

table {
	width: 80%;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 60px;
}

thead {
	background-color: #3aa660;
	color: white;
	font-size: 21px;
}

tbody {
	color: #3aa660;
	font-weight: bold;
	font-size: 19px;
	background-color: #d9d9d9;
}

tbody tr {
	border-top: 4px solid white;
	border-bottom: 4px solid white;
}
