body {
    height: 100%;
    background-image: linear-gradient(120deg, #062f4f,#b82601);
}
.container {
    height: 637px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.log{
    text-align: center;
    padding: 20px;
    /* margin: 12px; */
    width: 60%;
    height: 62%;
    background: #524549;
    border: 0.1px white;
    border-radius: 12px;
    
}
.box{
    margin: 4px;
    padding: 2px;
    margin-top: 2px;
}

#message {
    font-size: 20px;
    color: red;
}

#last {
    color: white;
    font-size: 20px;
}

h2{
    margin-top: 5px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bold;
	font-family: serif; 
}
input{
    border: 1px solid black;
    border-radius: 10px;
    padding: 18px;
    width: 80%;
    font-size: 16px;
    outline: none;
}
.btn{
    border: 1px solid #343636;
    border-radius: 12px;
    /* background-image: linear-gradient(120deg, #062f4f,#b82601); */
    /* background: rgb(9, 9, 109); */
    background:  #2b2a2a;
    width: 30%;
    font-size: 20px;
    margin: 6px;
    padding: 15px;
    font-weight: bold;
	font-family: serif; 
    color: white;
}
.btn:hover{
    background: #3b3b3b;
    border: 1px solid rgb(150, 153, 199);
}
.reg{
    text-decoration: none;
    color: limegreen;
    font-size: 20px;
    font-weight: bold;
	font-family: serif; 

}
.para{
    font-size: 24px;
    color: white;
    font-weight: bold;
	font-family: serif; 
}
