@media only screen and (max-width: 640px){
    *{
        margin: 2px;
        padding: 2px;
        width: auto;
    }
    .para{
        margin: auto;
        padding: 4px;
    }
    .footer{
        height: auto;
        border-top: 7px solid rgb(52, 20, 112);
        background-color: rgb(60, 12, 70)
    }

}
