.contents {
	text-align: left;
	padding: 20px;
}

.link {
	padding: 15px;
	width: 90%;
	margin: auto;
	border: 1px solid black;
	border-radius: 20px; 
}

.linkAA {
	font-size: 20px;
	text-align: center;
}

#linkP {
	text-align: center;
	color: #b82601;
}

@media (max-width: 600px) {
	.text {
		flex-wrap: wrap;
	}
}

.text {
   border-radius: 15px;
   display: flex;
   padding: 10px 20px 10px 20px;
   width: 90%;
   margin: auto; 
   justify-content: center;
   background: rgb(236, 236, 247);
}
.firms{
    border-bottom: 2px solid #062f4f;
    border-top: 2px solid #062f4f;
    padding: 12px;
    width: 80%;
    font-style: italic;
    font-weight: bold;
    margin: 20px auto 20px auto;
    font-size: 20px;
}

h4 {
	font-family: cursive;
}

#PI , .manu h4 {
	width: 50%;
	margin: auto;
	border-bottom: 2px solid #b82601;
    border-top: 2px solid #b82601;
	text-align: center;
	padding: 12px;
}

.manu h5 {
	font-weight: bold;
}

#mp {
	border-left: 2px solid #b82601;
	border-right: 2px solid #b82601;
	padding: 15px;
}

.text p , #edit p , .text1 p {
	font-weight: bold;
	color: #b82601;
}

.manu p {
	font-size: 20px;
}

#edit {
	border-radius: 20px;
	padding: 10px;
	width: 70%;
	margin: auto;
	border: 2px solid #b82601;
	text-align: center;
}

.manu {
	width: 90%;
	margin: auto;
}


