.con{
    margin: 12px 80px 12px 80px;
    border-radius: 6px;
    background-color: #f4f7fd;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #062f4f;
    font-weight: bold;
	font-family: serif;
    
}
.main{
    margin: 12px;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}
h1{
    font-weight: bold;
	font-family: serif; 
    color:  #062f4f;
    margin: 0px;
    border-bottom: 2px solid rgb(1, 1, 49);
}
p{
    margin: 4px;
    font-size: 25px;
    color: #b82601;
}
h5{
    margin-bottom: 1px;
    font-size: 25px;
    color:  #062f4f;
}
h3{
    margin-top: 25px;
    margin-bottom: 2px;
    color:  #062f4f;
    border-bottom: #b82601;
}
