{% extends 'ije/layout.html' %}

{% load static %}

{% block title %}

    Contact Us

{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'css/contact.css' %}">

{% endblock %}

{% block body %}

    <div class="con">
        <h1>Contact Us</h1>
        <h3>Head Office General Secretory</h3><br>
        <h5>FIRMS India</h5><br>
        <p>1, Vitthal Namdev Nagar, Sanganer, Jaipur, Rajasthan, India PIN-302029 </p><br>
        <p>Mobile/WhatsApp Number:  +91-8302904370, +91-8854005488, +91-9828888725</p>
        <h3>Important Contact Number and Emails</h3><br>
        <p>For application to join our editorial board:</p>
        <div class="link">chiefeditor@firmsindia.com</div>
        <br>
        <p>For collaboration organizing conferences:</p>
        <div class="link">collaboration@firmsindia.com</div>
        <br>
        <p>For resolving pending query/Complains:</p>
        <div class="link">president@firmsindia.com</div>
        <br>
        <p>For Jobs and Professional Offers:</p>
        <div class="link">hr@firmsindia.com</div>
    </div>

{% endblock %}