{% extends 'ije/layout.html' %}

{% load static %}

{% block title %}

	{% if prp %}
		Peer Review Process
	{% else %}	
		FIRMS International Journal Of Mathematical Sciences
	{% endif %}
	
{% endblock %}	

{% block head %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">

{% endblock %}

{% block body %}

	{% if prp %}

		<br>
		<div id="prp">
			<p id="title">Peer Review Process</p>
			<p id="data">{{ prp }}</p>
		</div>

	{% elif review %}	
		<br>
		        <h4 style="text-align: center;">Reviewers: </h4>
		<div class="text">
			<div class="contents">
		        <p>Dr. Amit Kumar, RBSTC, Agra, India</p>
		        <p>Dr. Amit Sharma, SRM University, Ghaziabad, India </p>
		        <p>Dr. Anil Bhardwaj, R. U. Jaipur, India</p>
		        <p>Dr. CenapOzel, K. A. University, Saudi Arab</p>
		        <p>Dr. Deepak Kumar, MRIU, Faridabad, India</p>
		        <p>Dr. Devendra Kumar, Dr. B. R. A. University, Agra, India</p>
		        <p>Dr. Gurmeet Singh, Patel Memorial National College, Raspura, India</p>
		    </div>
		    <div class="contents">    
		        <p>Dr. Emilia Di Lorenzo, University of Federico, Italy</p>
		        <p>Dr. J. P. Verma, LNIPE, Gwalior, India</p>
		        <p>Dr. MerilenaSibillo, University of Salereno, Italy</p>
		        <p>Dr. Samir K. Vaidya, Saurashtra University, Rajkot, India</p>
		        <p>Dr. Sanjeet Kumar, LNCT Bhopal, India </p>
		        <p>Dr. SatyabhanKulshrestha, RBSTC, Agra, India</p>
		    </div>
		    <div class="contents">    
		        <p>Dr. Satyavir Singh, The ICFAI University, Jaipur, India </p>
		        <p>Dr. Shakti Banerjee, Devi Ahiliya University, Indore, India</p>
		        <p>Dr. Sunil KhaJaypeeUniversity,Solan, India</p>
		        <p>Dr. U. S. Rana, DAV PG College, Dehradoon, India</p>
		        <p>Dr. Vipin Kumar Dubey, Jaypee University, Noida, India </p>
		        <p>Dr. VivekRaich, Holkar College, Indore, India</p>
		    </div>
		</div>    
		    <br>

	{% else %}	
		<div>
        	<p class="firms">FIRMS International Journal of Mathematical Sciences (FIJMS) is published half-yearly since 2019. FIJMS covering all research domains in physics, chemistry, mathematics, zoology, botany, biotechnology, medical sciences and other interdisciplinary areas and also emphasize the main applied sciences aspects whose
            elaboration can yield knowledge and expertise that can equally serve all research domains branches of sciences.</p>
    	</div>
    	
	   		<div id="edit">	
		        <h4>Executive Editor:</h4>
		        <p> Dr. Narendra Kumar, The ICFAI University, Jaipur, India </p>
		        <h4>Editor-in-Chief:</h4>
		        <p>Prof. Sanjeev Kumar, Ph.D.</p>
		        <h4>Full Edition Title:</h4>
		        <p>International Journal of Mathematical Sciences</p>
		        <h4>ISSN:</h4>
		        <p>**** - ****</p>
		        <h4>e-ISSN:</h4>
		        <p>**** - ****</p>
		        <h4>Publisher:</h4>
		        <p>Forum for Interdisciplinary Research in Mathematical Sciences</p>
		        <h4>Technical Team:</h4>
		        <p>Mr. Mudit Gupta (Web Developer)</p>
		        <p>Mr. Sameer Saifi (Web Developer)</p>
		        <h4>Since:</h4>
		        <p>2019</p>
		    </div>  
		    <br>  

		        <h4 id="PI">Publication Information</h4>
		        <br>
		        <div class="text">    
			        <div class="contents">
			        <h4>Chief Editor: </h4>
			        <p>Dr. Sanjeev Kumar, Dr. Bhimrao Ambedkar University, Agra, India</p>
			        <h4>Advisory Editorial Board: </h4>
			        <p>Dr. Anirudh Pradhan, GLA University, Mathura, India</p>
			        <p>Dr. D. K. Ghosh, Saurashtra University, Rajkot, India</p>
			        <p>Dr. G. S. Khadekar, Nagpur University, Nagpur, India</p>
			        <p>Dr. Jagdish Prasad, Amity University, Jaipur</p>
			        <h4>Managing Editor: </h4>
		            <p>Dr. Kalpna Sharma, Manipal University, Jaipur , India</p>
		            <p>Dr.Umesh Sharma, GLA University, Mathura, India</p>
        		</div>

       			<div class="contents">
	            
	            <h4>Editorial Board:</h4>
	            <p>Dr. Anil Bhardwaj, R. U. Jaipur, India</p>
	            <p>Dr. CenapOzel, K. A. University, Saudi Arab</p>
	            <p>Dr. Deepak Kumar, MRIU, Faridabad, India</p>
	            <p>Dr. Devendra Kumar, Dr. B. R. A. University, Agra, India</p>
	            <p>Dr. Emilia Di Lorenzo, University of Federico, Italy</p>
	            <p>Dr. Gurmeet Singh, Patel Memorial National College, Raspura, India</p>
	            <p>Dr. J. P. Verma, LNIPE, Gwalior, India</p>
	            <p>Dr. MerilenaSibillo, University of Salereno, Italy</p>
	            <p>Dr. samir K. Vaidya, Saurashtra University, Rajkot, India</p>
	            <p>Dr. shakti Banerjee, Devi Ahiliya University, Indore, India</p>
	            <p>Dr. Sunil Kha, J. U. Solan, India</p>
	            <p>Dr. U. S. Rana, DAV PG College, Dehradoon, India</p>
	            <p>Dr. VivekRaich, Holkar College, Indore, India</p>
	            <p>Dr. SatyabhanKulshrestha, RBSTC, Agra, India</p>
	        </div>
        
       		<div class="contents">
	            <h4>Reviewer Board Members: </h4>
	            <p>Dr. Amit Kumar, RBSTC, Agra, India</p>
	            <p>Dr. Amit Sharma, SRM University, Ghaziabad, India </p>
	            <p>Dr. Anil Bhardwaj, R. U. Jaipur, India</p>
	            <p>Dr. CenapOzel, K. A. University, Saudi Arab</p>
	            <p>Dr. Deepak Kumar, MRIU, Faridabad, India</p>
	            <p>Dr. Devendra Kumar, Dr. B. R. A. University, Agra, India</p>
	            <p>Dr. Emilia Di Lorenzo, University of Federico, Italy</p>
	            <p>Dr. Gurmeet Singh, Patel Memorial National College, Raspura, India</p>
	            <p>Dr. J. P. Verma, LNIPE, Gwalior, India</p>
	            <p>Dr. MerilenaSibillo, University of Salereno, Italy</p>
	            <p>Dr. Samir K. Vaidya, Saurashtra University, Rajkot, India</p>
	            <p>Dr. Sanjeet Kumar, LNCT Bhopal, India </p>
	            <p>Dr. SatyabhanKulshrestha, RBSTC, Agra, India</p>
	            <p>Dr. Satyavir Singh, The ICFAI University, Jaipur, India </p>
	            <p>Dr. Shakti Banerjee, Devi Ahiliya University, Indore, India</p>
	            <p>Dr. Sunil KhaJaypeeUniversity,Solan, India</p>
	            <p>Dr. U. S. Rana, DAV PG College, Dehradoon, India</p>
	            <p>Dr. Vipin Kumar Dubey, Jaypee University, Noida, India </p>
	            <p>Dr. VivekRaich, Holkar College, Indore, India</p>
	        </div>
   		</div>

   		<br>
   		<div class="manu">
	        <h4>Issues</h4>
	        <br>
   		<div class="link">
	        <p id="linkP">For Current Issue: Volume 1/ Issue 1</p>
	        <div class="linkAA"><a href="https://www.firmsindia.org/journals/index.php/fijms/issue/view/1">Issue Link</a></div>
	        <p>Please prepare your manuscript according to FIJMS format. Failure to meet the FIJMS standard format will result postpone or rejection by the journal office.</p>
		</div>
	</div>
	<br>

	    <div class="manu">
	        <h4>Manuscript Preparation</h4>
	        <div id="mp">
		        <p>All papers should concisely be written in US English. Clarity and precision are best achieved by the use of simple words and short sentences. Papers not satisfying the language requirements will not be accepted.</p>
		        <h5>1. Formats</h5>
		        <p>The typescript should be double-spaced on A4 pages (21×29.7cm). This applies also to tables, legends for illustrations and figures, references and footnotes.</p>
		    </div>    
	    </div>
	    <br>
	{% endif %}

{% endblock %}