{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %} {% endblock %}</title>

	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/layout.css' %}">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

	{% block head %}
	{% endblock %}
</head>
<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<img id="firstimg" src="{% static 'images/bg.png' %}" alt="error">
				</div>
				<div class="col-sm-8">
					<p id="heading"> FIRMS International Journal Of Mathematical Sciences</p>
				</div>
				<div class="col-sm-2">
					<img id="secondimg" src="{% static 'images/bg.png' %}" alt="error">
				</div>	
			</div>
			<div class="user">
	            <a href="{% url 'ije:login' %}">Login</a>
	            <a href="#">Register</a>
        	</div>
		</div>
		<nav>
     		<a href="/">Home</a>
           	<div class="dropdown">
            	<a class="arrow">Journal Info</a>
            	<div class="dropdown-content">
	            	<a href="{% url 'ije:aj' %}">About Journal</a>
	            	<a href="{% url 'ije:pe' %}">Publication Ethics</a>
            		<a href="{% url 'ije:prp' %}">Peer Review Process</a>
	            </div>
	        </div>    	
            <a href="{% url 'ije:gfa' %}">Guide For Authors</a>
            <a href="{% url 'ije:submit_manuscript' %}">Submit Manuscript</a>
            <a href="{% url 'ije:review' %}">Reviewers</a>
            <a href="#">Contact Us</a>
       	</nav>
	</header>
	
	{% block body %}
	{% endblock %}

	<footer>
		<div id="foot">
			<br>
	        <h6>Copyright © 2021 - All Rights Reserved</h6>
	        <br>
	    </div>    
    </footer>
</body>
</html>