{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="log">
            <span id="message">{{ message }}</span>
            <h2>User login</h2>
            <form action="{% url 'ije:login' %}" method="post">
                {% csrf_token %}
                <div class="box">
                    <input type="email" name="email", placeholder="Enter Your Email" required="true" value="{{email}}">    
                </div>
                <div class="box">
                    <input type="password" name="password", placeholder="Enter Your password" required="true">
                </div>
                
                <button class="btn">Submit</button>
                <br><br><br>
                <a href="{% url 'ije:submit_manuscript' %}" class="reg">Submit Manuscript</a>
                <br>
                <span id="last">(Only for the users who don't have account registered yet).</span> 
            </form>    
        </div> 
    </div>
</body>
</html>