{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="log">
            {{ message }}
            <h2>User login</h2>
            <form action="{% url 'ije:login' %}" method="post">
                {% csrf_token %}
                <div class="box">
                    <input type="email" name="email", placeholder="Enter Your Email">    
                </div>
                <div class="box">
                    <input type="password" name="password", placeholder="Enter Your password">
                </div>
                
                <button class="btn">Submit</button>
                <p class="para">Don't have an account 
                    <a href="#" class="reg">Register</a>  
                    here         
                </p> 
            </form>    
        </div> 
    </div>
</body>
</html>