{% extends 'ije/layout.html' %}

{% load static %}

{% block title %}
	Publication Ethics
{% endblock %}	

{% block head %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

{% endblock %}

{% block body %}

	<div id="peBody">
		<br>
		<h1 id="title">Publication Ethics</h1>
		<ol>
			<b><li><b>Author Responsibility</b></li></b>
			<p>The authors are exclusively responsible for the contents of their submissions, the validity of the experimental results
			and must make sure that they have permission from all involved parties to make the data public.  
			It is the responsibility of each author to ensure that papers submitted to FIJMS are written with ethical standards in
			mind, concerning plagiarism.</p>
			<p>Please note that all submissions are thoroughly checked for plagiarism. If an attempt at plagiarism is found in a
			published paper, the authors will be asked to issue a written apology to the authors of the original material. Any
			paper which shows obvious signs of plagiarism will be automatically rejected and its authors will be banned for
			duration of three years from publishing in FIJMS. The authors will receive proper notification if such a situation arises.  
			Information on what constitutes plagiarism is provided below. </p>

			<b><li><b>Plagiarism: Definition and Context</b></li></b>
			<p>Plagiarism, where someone assumes another's ideas, words, or other creative expression as one's own, is a clear
			violation of scientific ethics. Plagiarism may also involve a violation of copyright law, punishable by legal action.
			Plagiarism may constitute the following:</p>
			<ul>
				<li><p>Word for word, or almost word for word copying, or purposely paraphrasing portions of another author's
				work without clearly indicating the source or marking the copied fragment (for example, using quotation
				marks)</p></li>
				<li><p>Copying equations, figures or tables from someone else's paper without properly citing the source and/or
				without permission from the original author or the copyright holder.</p></li>
			</ul>
			<p>Self‐plagiarism, as a related issue, is the word for word or almost word for word reproduction of portions of one's	own copyrighted work without proper citation of the original material. Self‐plagiarism does not apply to publications based on the author's own previously copyrighted work (for example from conference proceedings) where proper reference was given for the original text.</p>
			<p>International Journal of Engineering editorial board will place any plagiarism‐related investigation at high priority and will take appropriate action as needed.</p>
			<b><li><b>Conflicts Of Interest</b></li></b>
			<p>All authors are requested to disclose any actual or potential conflict of interest such as any financial, personal or
			other relationships with other people or organizations concerning the submitted work that could inappropriately
			influence, or be perceived to influence, their work.</p> 
			<b><li><b>Copyright And Permissions</b></li></b>
			<p>By submitting a manuscript to the editor or publisher you are deemed to have granted permission to publish the
			manuscript.</p> 
			<b><li><b>Proofs</b></li></b>
			<p>Proofs will be sent via e‐mail as an Acrobat PDF (Portable Document Format) file. Acrobat Reader will be required in
			order to read the PDF. This software can be downloaded from the following website:</p>
			<div id="peA">
				<a id="peA" href="https://www.adobe.com/products/acrobat/readstep2.html">Click To Download</a>
			</div><br>
			<p>This will enable the file to be opened, read on screen and printed out in order for any corrections to be added. To avoid delay in publication, corrected proofs should be faxed to the publisher within 48 hours of receipt.</p>
			<br><br>
		</ol>
	</div>
	{% endblock %}	