{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Manuscript</title>
    <link rel="stylesheet" href="{% static 'css/submit_manuscript.css' %}">
</head>
<body>
 
  <div class="reg">
    <h2 class="heading">Submit Manuscript</h2>
    <div class="title">Author Details</div>
    <form action="{% url 'ije:submit_manuscript' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="user-details">
        <div class="input-box">
          <span class="details">Author First Name</span>
          <input type="text" name="fname"  required>
        </div>
        <div class="input-box">
          <span class="details">Author Last Name</span>
          <input type="text" name="lname"  required>
        </div>
        <div class="input-box">
          <span class="details">Author Email</span>
          <input type="email" name="email"  required>
        </div>
        <div class="input-box">
          <span class="details">Alternate Email</span>
          <input type="email" name="a_email" required>
        </div>
        <div class="input-box">
          <span class="details">Phone Number</span>
          <input type="number" name="number"  required>
        </div>
        
        <div class="input-box">
          <span class="details">Author Region</span>
          <input type="text" name="region"  required>
        </div>
      </div>
    <div class="title">Manuscript Details</div>
      <div class="user-details">
        <div class="input-box">
          <span class="details">Title</span>
          <input type="text" name="title"  required>
        </div>
        <div class="input-box">
          <span class="details">Article Type</span>
          <input type="text" name="type"  required>
        </div>
        <div class="input-box">
          <span class="details">Special Issue Title</span>
          <input type="text" name="stitle"  required>
        </div>
        <div class="input-box">
          <span class="details">Classification</span>
          <input type="text" name="classification"  required>
        </div>
        <div class="input-box">
          <span class="details">Abstract</span>
          <textarea name="abstract" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="input-box">
          <span class="details">Keywords</span>
          <textarea name="keywords" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="input-box">
          <span class="details">Attach Your File</span>
          <input type="file" name="file" placeholder="">
        </div>
        <div>
          <button class="btn">Submit</button>
        </div>
      </div>
    </form>
  </div>
</body>
</html>