<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ijr.ir</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <img src="img/bg.png" alt="error">
            <h1 class="pra">welcome to my webpage</h1>
            <img src="img/bg1.png" alt="error">
            <button class="btn">Login</button>
            <button class="btn">Register</button>
        </div>
        <div class="navbar">
            <nav class="navbar">
                <ul class="nav-list">
                    <li> <a href="/index.html">Home</a></li>
                    <li> <a href="/News.html">News</a></li>
                    <li> <a href="/browse.html">Browse</a>
                    </li>
                    <li> <a href="#journal-inf">JournalInf</a></li>
                    <li> <a href="#quide-for-authors">GuideForAuthors</a></li>
                    <li> <a href="/SubmitManuScript.html">SubmitManuScript</a></li>
                    <li> <a href="/Reviewers.html">Reviewers</a></li>
                    <li> <a href="/ContactUs.html">ContactUs</a></li>
                </ul>
            </nav>
        </div>
    </div>
</body>

</html>